---
layout: page
title: Travel
---
<div id="body">
    <h4>"To travel is to discover that everyone is wrong about 
        other countries" - Aldous Huxley</h4> 
    <p></p>
    <h4>"The world is a book and those who do not travel read 
        only one page." - Augustine of Hippo</h4>
    
    <p>I am fortunate to have traveled to some amazing places, 
    but the world is so very very big and fascinating. One
    lifetime is far too short to fully absorb the humanity, culture, 
    and natural beauty of our planet...but I intend to give it my 
    best shot.</p>

    <p>Recently I wrote about 
    <a href="/blog/2016/02/28/croatia">Croatia</a>. I also posted some of 
    my <a href="/blog/2016/01/01/travel_videos">amateur travel videos.</a></p>
   
</div>

<div id="left">
    {% include image.html img="images/istanbul1.JPG" title="Istanbul Mosque1" width="75%" caption="Istanbul, Turkey" %}
    {% include image.html img="images/angkor2.jpg" title="Ta Prohm" width="75%" caption="Angkor, Cambodia" %}
</div>
