---
layout: page
title: Travel
---
<div id="body">
    <h4>"To travel is to discover that everyone is wrong about 
        other countries" - Aldous Huxley</h4> 
    <p></p>
    <h4>"The world is a book and those who do not travel read 
        only one page." - Augustine of Hippo</h4>
    
    <p>I am fortunate to have traveled to some amazing places, 
    but the world is so very very big and fascinating. One
    lifetime is far too short to fully absorb the humanity, culture, 
    and natural beauty of our planet...but I intend to give it my 
    best shot.</p>

    <p>Recently I wrote about 
    <a href="/blog/2016/02/28/croatia">Croatia</a>. I also posted some of 
    my <a href="/blog/2016/01/01/travel_videos">amateur travel videos.</a></p>
    <p>In no apparent order, here are some of the wonderful places I have
    visited.</p>

</div>

<div id="left">
    {% include image.html img="images/istanbul1.JPG" title="Istanbul Mosque1" width="75%" caption="Istanbul, Turkey" %}
    {% include image.html img="images/angkor2.jpg" title="Ta Prohm" width="75%" caption="Angkor, Cambodia" %}
</div>
<div id="right">
    {% include image.html img="images/santorini3.JPG" title="Santorini wine" width="75%" caption="Santorini, Greece" %}
    {% include image.html img="images/florence2.jpg" title="Florence Duomo" width="75%" caption="Florence, Italy" %}
</div>
    <div id="body">
    {% include image.html img="images/angkor3.jpg" title="Ta Prohm" width="75%" caption="Angkor, Cambodia" %}
</div>
<div id="left">
    {% include image.html img="images/london1.jpg" title="Big Ben view" width="75%" caption="London, UK" %}
    {% include image.html img="images/moscow1.jpg" title="Moscow1" width="75%" caption="Moscow, Russia" %}
    {% include image.html img="images/mostar1.jpg" title="Mostar" width="75%" caption="Mostar, Bosnia and Herzegovina" %}
</div>
<div id="right">
    {% include image.html img="images/moscow4.jpg" title="Moscow4" width="75%" caption="Moscow, Russia" %}
    {% include image.html img="images/vienna1.jpg" title="Vienna" width="75%" caption="Vienna, Austria" %}
    {% include image.html img="images/paris3.jpg" title="Saint Chapelle" width="75%" caption="Paris, France" %}
</div>
<div id="body">
    {% include image.html img="images/bangkok1.jpg" title="Bangkok rooftop" width="95%" caption="Bangkok, Thailand" %}
</div>
<div id="left">
    {% include image.html img="images/czech1.jpg" title="Czech countryside" width="75%" caption="countryside, Czech Republic" %}
    {% include image.html img="images/bologna1.jpg" title="Bologna" width="75%" caption="Bologna, Italy" %}
</div>
<div id="right">
    {% include image.html img="images/amsterdam1.jpg" title="Amsterdam grand canal" width="75%" caption="Amsterdam, Netherlands" %}
    {% include image.html img="images/brussels1.jpg" title="Brussels" width="75%" caption="Brussels, Belgium" %}
</div>
    <div id="body">
    {% include image.html img="images/istanbul3.JPG" title="Istanbul Mosque2" width="75%" caption="Istanbul, Turkey" %}
</div>
<div id="left">
    {% include image.html img="images/mexico2.JPG" title="Mexico2" width="75%" caption="San Carlos, Mexico" %}
    {% include image.html img="images/england1.jpg" title="Salisbury Cathedral" width="75%" caption="Salisbury, UK" %}
</div>
<div id="right">
    {% include image.html img="images/rome1.jpg" title="Piazza Navona" width="75%" caption="Rome, Italy" %}
    {% include image.html img="images/france3.JPG" title="Rouen Cathedral" width="75%" caption="Rouen, France" %}
</div>
<div id="body">
    {% include image.html img="images/prague3.jpg" title="Prague3" width="75%" caption="Prague, Czech Republic" %}
    {% include image.html img="images/prague6.jpg" title="Prague night" width="75%" caption="Prague, Czech Republic" %}
</div>
<div id="left">
    {% include image.html img="images/montmichel1.jpg" title="MontMichel1" width="75%" caption="Mont St. Michel, France" %}
    {% include image.html img="images/bruges1.jpg" title="Bruges1" width="75%" caption="Bruges, Belgium" %}
    {% include image.html img="images/athens1.jpg" title="Athens1" width="75%" caption="Athens, Greece" %}
</div>
<div id="right">
    {% include image.html img="images/montmichel2.jpg" title="MontMichel2" width="75%" caption="Mont St. Michel, France" %}
    {% include image.html img="images/budapest2.JPG" title="Bath" width="75%" caption="Bath, UK" %}
    {% include image.html img="images/stpete2.jpg" title="StPete" width="75%" caption="St. Petersburg, Russia" %}
</div>
<div id="body">
    {% include image.html img="images/kotor.jpg" title="Kotor" width="75%" caption="Kotor, Montenegro" %}
</div>
<div id="left">
    {% include image.html img="images/kutnahora1.jpg" title="Bone church 1" width="75%" caption="Kutna Hora, Czech Republic" %}
    {% include image.html img="images/perast.JPG" title="Perast" width="75%" caption="Perast, Montenegro" %}
</div>
<div id="right">
    {% include image.html img="images/kutnahora2.jpg" title="Bone church 2" width="75%" caption="Kutna Hora, Czech Republic" %}
    {% include image.html img="images/dubrovnik1.jpg" title="Dubrovnik night lights" width="75%" caption="Dubrovnik, Croatia" %}
</div>
    
<div id="body">
    {% include image.html img="images/sarajevo1.jpg" title="Sarajevo view" width="95%" caption="Sarajevo, Bosnia and Herzegovina" %}
</div>
<div id="left">
    {% include image.html img="images/strasbourg1.jpg" title="Strasbourg" width="75%" caption="Strasbourg, France" %}
    {% include image.html img="images/dubrovnik2.jpg" title="Dubrovnik from above" width="75%" caption="Dubrovnik, Croatia" %}
</div>
<div id="right">
    {% include image.html img="images/bosnia1.jpg" title="Bosnia country" width="75%" caption="countryside, Bosnia and Herzegovina" %}
    {% include image.html img="images/france2.jpg" title="Normandy" width="75%" caption="Normandy landing beach, France" %}
</div>
    <div id="body">
    {% include image.html img="images/novgorod1.jpg" title="Novgorod Statue" width="50%" caption="Veliky Novgorod, Russia" %}
</div>
